
{% extends 'base.html' %}
{% block body %}

<div class="container"style="padding-left: 80px;">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="250px" height="300px">
  <div class="card-body" >
    <h5 class="card-title" style="height:50px">{{i.name}}</h5>
<!--    <p class="card-text">{{i.desc}} </p>-->
    <a href="{% url 'movieapp:details' i.id %}" class="btn btn-primary">{{i.name}}</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>







{% endblock %}



